<header id="header">
  <div id="header-outer" class="outer">
    <div class="container">
      <div class="container-inner">        
        <div id="header-title">
          <div class="bios-wrap wow bounceInRight">
            <div id="bios" class="bios"></div>
            <div id="bioseyes" class="eyes">
              <div id="bioslefteye" class="left_eye">
                <div class="pupil"></div>
              </div>
              <div id="biosrighteye" class="right_eye">
                <div class="pupil"></div>
              </div>
            </div>
          </div>
          <h1 class="logo-wrap wow bounceInLeft" style="visibility: visible;">
            <a href="/" class="logo"></a>
          </h1>
          <h2 class="subtitle-wrap wow bounceInDown">
             <p class="subtitle"><span class="muted"><i class="fa fa-angle-right"></i></span></i>whois flinn<span class="muted fadeinout">_</span></p>
          </h2>          
        </div>
        <div id="navanchor" style="position: relative; height: 0px">&nbsp;</div>   
        <div id="header-inner" class="nav-container hidden">
          <a id="main-nav-toggle" class="nav-icon"></a>
          <div id="nav-container-inner" class="nav-container-inner">
            <a id="menulogo" href="/" class="small-logo"></a>
            <ul id="main-nav">            
              <li class="main-nav-list-item"><a class="main-nav-list-link" href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="main-nav-list-item"><a class="main-nav-list-link" href="/about/"><i class="fa fa-user-secret"></i> About</a></li>
              <li class="main-nav-list-item"><a class="main-nav-list-link" href="/blog/"><i class="fa fa-newspaper-o"></i> Blog</a></li>
              <li class="main-nav-list-item"><a class="main-nav-list-link" href="/projects/"><i class="fa fa-sitemap"></i> Projects</a></li>              
              <li class="main-nav-list-item"><a class="main-nav-list-link" href="/contact/"><i class="fa fa-envelope"></i> Contact</a></li>
            </ul>
            <nav id="sub-nav">
              <div id="search-form-wrap">
                <%- search_form({text: __('index.search')}) %>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>