<aside id="sidebar">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
  <div class="sidebar-top">
    <p>FOLLOW</p>
    <ul class="social-links">
      <li><a class="social-tooltip" title="facebook" href="/"><i class="fa fa-facebook-square fa-3"></i></a></li>
      <li><a class="social-tooltip" title="twitter" href="/"><i class="fa fa-twitter-square fa-3"></i></a></li>
      <li><a class="social-tooltip" title="linkedin" href="/"><i class="fa fa-linkedin-square fa-3"></i></a></li>
      <li><a class="social-tooltip" title="github" href="/"><i class="fa fa-github-square fa-3"></i></a></li>
  </div>
  <% if(is_post()) { %>
    <%- partial('post/nav', {post: page}) %>
  <% } %>
  <div class="widgets-container">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </div>
</aside>