#header  
  position: relative

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative
  border-radius: 5px;

#header-inner.stuck
  border-radius: 0px
  position: fixed !important
  top: 0px !important
  left: 0px !important
  width: 100% !important

@-webkit-keyframes fadeinout
  0%
    opacity:0
  50%
    opacity:1
  100%
    opacity:0

.fadeinout 
    -webkit-transition: all 1.5s ease-in-out
    -moz-transition: all 1.5s ease-in-out
    -o-transition: all 1.5s ease-in-out
    -ms-transition: all 1.5s ease-in-out
    transition: all 1.5s ease-in-out 
    -webkit-animation-direction: normal
    -webkit-animation-duration: 3s
    -webkit-animation-iteration-count: infinite
    -webkit-animation-name: fadeinout
    -webkit-animation-timing-function: ease-in-out

#header-title
  clearfix()
  text-align: center
  padding: 20px 0px 0px 0px
  .logo-wrap, .subtitle-wrap
    float: left
  .subtitle-wrap
    padding: 10px 0px 0px
    margin-left: 20px
  .subtitle
    color: white;
    font-family: 'Strait', sans-serif
    font-size: 55px
    line-height: logo-height + 10    
    text-shadow: 3px 3px rgba(0, 0, 0, 0.75)
  .highlight
    color: #91e022
  .muted
    color: biosfur
    text-shadow: none
    background: none
